body {
    font-family:ProximaNova, sans-serif;
    font-size: 0;
    background: #20271f;
    color: #e1e1e1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

body, div {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #e1e1e1;
}

ul {
    margin: 0;
    margin-top: 5px;
}

li {
    margin: 0 0 10px 0;
}

li:last-of-type {
    margin: 0;
}

.background {
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -10;
    position: fixed;
    background: black no-repeat center left fixed;
}

.body-content {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .body-content {
        width: auto;
    }
}

.site-banner {
    height: 100px;
    background: url("../images/banner.png") no-repeat center;
    background-size: 100% auto;
    width: 100%;
}

.knd-banner {
    height: 100px;
    background: url("../images/knightsanddragons.png") no-repeat center;
    background-size: 324px 74px;
}

.site-content {
    padding: 12px;
}

.site-section {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

.site-section > hr {
    margin: 0 10px 0 10px;
    height: 1px;
    border: 0; border-top: 1px solid #9c9c9c;
    padding: 0;
}

.site-section.no-title {
    border: 0;
    background-color: transparent;
}

.site-section.no-title .site-section-content {
    color: white;
    text-shadow: 1px 2px 2px #000000;
}

.site-section:last-of-type {
    margin-bottom: 0;
}

.site-section-content {
    font-size: 14px;
    padding: 12px;
    color: white;
}

.site-section-title {
    padding: 10px;
}

.site-section-title-image {
    width: 26px;
    height:26px;
    float: left;
    content: " ";
    background: url("../images/sword.png") no-repeat center;
    background-size: 20px 20px;
    margin-right: 10px;
}

.site-section-title-text {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #000000;
    font-weight: bold;
}